
.hydrotirol img {
    width: 100%;
    max-width: 1100px;
    -webkit-filter: invert(1);
}

.hydrotirol .hydrotirol-info {
    _display: flex;
    _align-items: end;
}

.hydrotirol .hydrotirol-info > div {
    _flex-grow: 1;
}

.hydrotirol .hydrotirol-wasserstand-pegel {
    _vertical-align: bottom;
    display: block;
}


.hydrotirol .hydrotirol-wasserstand-info {
    _text-align: right;
    _vertical-align: bottom;
    clear: both;
    display: block;
}